# Machine Learning Project:
     Predicting The Total Score Of an Ipl Match

1) Handle missing values
2) Drop the unnecessary columns
3) Convert the categorical string columns to numerical columns, by using one-hot encoding
4) Perform feature scaling (if necessary).
5) Build a model on the “total” column, using a RandomForestRegressor
6) Calculate the score
7) Predict on a new set of features (you can create a new dataset, having just 1 row, with your preferred feature values)

1) Handle missing values

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("ipl.csv")

In [4]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

2) Drop the unnecessary columns

In [5]:
df=df.drop("mid",axis=1)

In [6]:
df=df.drop("date",axis=1)

In [7]:
df.head()

,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

3) Convert the categorical string columns to numerical columns, by using one-hot encoding

In [9]:
pd.get_dummies(df. batsman,drop_first=True).shape

(76014, 410)

df.info()

In [11]:
m= pd.get_dummies(df, columns=['venue', 'bat_team', 'bowl_team', 'batsman', 'bowler' ],drop_first=True)

In [12]:
m.head(22)

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total,venue_Brabourne Stadium,venue_Buffalo Park,...,bowler_WPUJC Vaas,bowler_Washington Sundar,bowler_Y Gnaneswara Rao,bowler_Y Nagar,bowler_Y Venugopal Rao,bowler_YA Abdulla,bowler_YK Pathan,bowler_YS Chahal,bowler_Yuvraj Singh,bowler_Z Khan
0,1,0,0.1,1,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0.2,1,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0.2,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,0,0.3,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0.4,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2,0,0.5,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
6,3,0,0.6,3,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3,0,1.1,3,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,1
8,7,0,1.2,7,0,4,0,222,0,0,...,0,0,0,0,0,0,0,0,0,1
9,11,0,1.3,11,0,8,0,222,0,0,...,0,0,0,0,0,0,0,0,0,1
10,17,0,1.4,17,0,14,0,222,0,0,...,0,0,0,0,0,0,0,0,0,1
11,21,0,1.5,21,0,18,0,222,0,0,...,0,0,0,0,0,0,0,0,0,1
12,21,0,1.6,21,0,18,0,222,0,0,...,0,0,0,0,0,0,0,0,0,1
13,21,0,2.1,21,0,18,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
14,21,0,2.2,21,0,18,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
15,22,0,2.3,22,0,18,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
16,26,0,2.4,26,0,22,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
17,27,0,2.5,27,0,23,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
18,27,0,2.6,27,0,23,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
19,32,0,3.0,32,0,23,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
20,38,0,3.1,38,0,29,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
21,39,0,3.2,39,0,29,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
m.shape

(76014, 806)

In [14]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Columns: 806 entries, runs to bowler_Z Khan
dtypes: float64(1), int64(7), uint8(798)
memory usage: 62.5 MB

In [15]:
X=m.drop("total",axis=1)

In [16]:
X.shape

(76014, 805)

In [17]:
y=m['total']

In [18]:
y.shape

(76014,)

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
mode=DecisionTreeClassifier()

In [23]:
mode.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [24]:
mode.score(X_test,y_test)

0.9798289848717386

5) Build a model on the “total” column, using a RandomForestRegressor

In [32]:
from sklearn.ensemble import RandomForestRegressor

In [34]:
Rf=RandomForestRegressor(n_estimators=50,random_state=0)

In [36]:
Rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=50,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

6) Calculate the score

In [38]:
Rf.score(X_test,y_test)

0.9396513630898744

7) Predict on a new set of features (you can create a new dataset, having just 1 row, with your preferred feature values)

In [91]:
data=pd.read_csv("Ones.csv")

In [92]:
data

,1,2,3,4,5,6,7,8,9,10,...,796,797,798,799,800,801,802,803,804,805
0,1,2,3,4,5,6,7,8,9,10,...,796,797,798,799,800,801,802,803,804,805

In [93]:
mode.predict(data)

array([191], dtype=int64)